img
{
	image-rendering: pixelated;

}

h1
{
	display: flex;
justify-content: center;
font-family:'Times New Roman', Times, serif;
font-size: 50px;
color: turquoise;
}

body{

	justify-content: center;

}

.maintenace{


	margin: 0 auto;
	max-width: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;


}

.menu
{

	margin: 0 auto;
	
	padding: 10px;
	display: flex;

	flex-direction: column;
	max-width: 400px;

	background-color: rgb(100, 4, 104);


}
div {
	display:flex;
	align-items:center;
	justify-content: space-between;
	flex-direction : column;
}
button {
	display: flex;
	color: white;
	box-sizing: border-box;
	padding: 10px;
	
	border-width: 10px;
	border-color:  rgb(100, 4, 104);
	background-color: rgb(214, 59, 228);
	border-style:solid;

	cursor: pointer;
	justify-content:space-between;
	flex-direction: column;
	align-items:center;
}

button:hover{
	color: black;
	background-color: rgb(243, 108, 255);
}



body{
background-color: rgb(187, 1, 187);
}
game{
	background-color: black;
	color: rgb(255, 255, 255);
}

game > div {
    display: flex;

}

game > div > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(3.125vw, 6.25vh);
	height: min(3.125vw, 6.25vh);

}
