img
{
	image-rendering: pixelated;

}

h1
{
	display: flex;
justify-content: center;
font-family:'Times New Roman', Times, serif;
font-size: 50px;
color: turquoise;
}

h3
{
	display: flex;
justify-content: center;
font-family:'Times New Roman', Times, serif;
font-size: 25px;
color: rgb(228, 245, 120);

}


body{

	justify-content: center;

}

.maintenace{


	margin: 0 auto;
	max-width: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;


}

.menu
{

	margin: 0 auto;
	
	padding: 10px;
	display: flex;

	flex-direction: column;
	max-width: 400px;

	background-color: rgb(100, 4, 104);
}
.score
{
	max-height: 40px;
	width: 90%;
	display:flex;
	justify-content: space-between;
	font-family:'Times New Roman', Times, serif;
	color: rgb(228, 245, 120);
}
.gamenu
{
	margin: 0 auto;
	
	padding: 10px;
	display: flex;

	justify-content: space-between;
	max-width: 60%;
}
button {
	
	color: white;
	box-sizing: border-box;
	padding: 10px;
	
	border-width: 10px;
	border-color:  rgb(100, 4, 104);
	background-color: rgb(214, 59, 228);
	border-style:solid;

	cursor: pointer;
	
}

button:hover{
	color: black;
	background-color: rgb(243, 108, 255);
}



body{
background-color: rgb(100, 1, 100);

}
game{
	background-color: black;
	color: rgb(255, 255, 255);
}

game > div {
    display: flex;

}

game > div > img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min(3.125vw, 6.25vh);
	max-width: min(3.125vw, 6.25vh);
	min-height: min(3.125vw, 6.25vh);
	max-height: min(3.125vw, 6.25vh);

}
