h1
{
display: flex;
justify-content: center;
font-family:'Times New Roman', Times, serif;
font-size: 50px;
color: turquoise;
}

.maintenace{

	margin: 0;


	display: flex;
	justify-content: center;
	flex-direction: column;

	padding: 10px;

	background-color: rgb(100, 4, 104);

	box-sizing: border-box;
	position: absolute;
  	top: 50%;
	left: 50%;

	transform: translateY(-50%) translateX(-50%);
}

.menu
{
	margin: 0;


	display: flex;
	justify-content: center;
	flex-direction: column;

	padding: 50px;

	background-color: rgb(100, 4, 104);

	box-sizing: border-box;
	position: absolute;
  	top: 50%;
	left: 50%;

	transform: translateY(-50%) translateX(-50%);

}
div {
	display:flex;
	align-items:center;
	justify-content: space-between;
	flex-direction : column;
}
button {
	display: flex;
	color: white;
	box-sizing: border-box;
	background-color: rgb(214, 59, 228);
	border-style: none;
	border-color: white;
	cursor: pointer;
	justify-content:space-between;
	flex-direction: column;
	align-items:center;
}

button:hover{
	color: black;
	background-color: rgb(243, 108, 255);
}



body{
background-color: rgb(187, 1, 187);
}
.game{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
	background-color: black;
	color: white;
}

